body {unicode-bidi: embed;direction: rtl;}
blockquote {padding-right: 1.25em;padding-left: 0;border-right: 4px solid #222;border-left: none;}
ul, ol {padding: 0 1.25em 0 0;}
li > ul, li > ol {margin-right: 1.5em;margin-left: 0;}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {right: 5px;left: auto;}
.alignleft {float: right;margin-right: 0;margin-left: 1.5em;}
.alignright {float: left;margin-right: 1.5em;margin-left: 0;}
.aligncenter {margin-right: 0;margin-right: auto;margin-left: 0;margin-left: auto;}
.site-branding .custom-logo {margin: 0 0 0 1em;}
.sidebar-navigation-toggle {right: 2.5em;left: auto;}
.sidebar-navigation-toggle:after {float: right;}
.main-navigation-menu > .menu-item-has-children > a:after {margin: .3em .3em 0 0;}
.main-navigation-menu ul {text-align: right;}
.main-navigation-menu ul .menu-item-has-children > a:after {margin: .3em .3em 0 0;transform: rotate(-270deg);}
.main-navigation-menu li ul ul {right: 100%;left: auto;}
.social-icons-menu li {float: right;}
.header-social-icons {right: auto;left: 1.5em;}
.widget ul .children, .widget ul .sub-menu {margin: .5em 1em .5em 0;}
.search-form .search-field {padding: .5em .7em .5em 1.5em;}
.search-form .search-submit {right: auto;left: 0;padding: .6em 0 0 .6em;}
.search-form .search-submit .genericon-search {padding: .05em .45em .55em 0;}
.widget_archive ul li .item-count, .widget_categories ul li .item-count {float: left;}
.widget-magazine-posts .small-post {float: right;}
.widget-magazine-posts .small-post .wp-post-image {float: right;padding-right: 0;padding-left: 1.5em;}
.widget-magazine-posts .small-post .small-post-content {float: left;}
.widget-magazine-posts .magazine-grid {margin-right: 0;margin-left: -2em;}
.widget-magazine-posts .magazine-grid .post-column {padding-right: 0;padding-left: 2em;}
.entry-meta .meta-date, .entry-meta .meta-author {float: right;margin-right: 0;margin-left: 1.5em;}
.entry-meta span a:before {margin-right: 0;margin-left: .2em;}
.has-post-thumbnail .entry-categories {right: 1em;left: auto;}
.entry-categories .meta-category a {float: right;margin: 0 0 2px 2px;}
.widget_tag_cloud .tagcloud a, .entry-tags .meta-tags a {float: right;margin: 0 0 2px 2px;}
.post-navigation .nav-links .nav-previous {float: right;}
.post-navigation .nav-links .nav-next {float: left;}
.post-navigation .nav-links .nav-previous a:before {margin-right: 0;margin-left: 3px;}
.post-navigation .nav-links .nav-next a:after {margin-right: 4px;margin-left: 0;}
.post-wrapper {margin-right: 0;margin-left: -2em;}
.post-wrapper .post-column {padding-right: 0;padding-left: 2em;}
.pagination a, .pagination .current {margin: 0 0 2px 2px;}
.infinite-scroll .infinite-loader .spinner {right: auto;left: auto;}
.breadcrumbs .trail-browse {margin-right: 0;margin-left: .5em;}
.comment-meta {float: right;}
.comment-meta .comment-author img {float: right;margin-right: 0;margin-left: 1em;}
.comment-meta .comment-metadata a {margin-right: 0;margin-left: 1em;}
.comment-content {clear: right;}
.comment-navigation .nav-previous {float: right;}
.comment-navigation .nav-next {float: left;}
.comment-navigation .nav-previous a:before {margin-right: 0;margin-left: 3px;}
.comment-navigation .nav-next a:after {margin-right: 4px;margin-left: 0;}
.site-footer .site-info {float: right;}
@media only screen and (max-width: 80em) {.container {padding-right: 0;padding-right: 2em;padding-left: 0;padding-left: 2em;}}
@media only screen and (max-width: 60em) {.widget-magazine-posts .small-post .wp-post-image {padding-right: 0;padding-left: 1em;}
	.main-navigation-menu ul, .mega-menu-item .mega-menu-content, .mega-menu-item .mega-menu-content .mega-menu-widget {right: auto;left: auto;}
	.main-navigation-menu li ul ul {right: auto;left: auto;}
	.main-navigation-menu {text-align: right;}
	.main-navigation-menu ul a {padding-right: 2em;padding-left: 0;}
	.main-navigation-menu ul li ul a {padding-right: 3em;padding-left: 0;}
	.main-navigation-menu ul li ul li ul a {padding-right: 4em;padding-left: 0;}
	.main-navigation-menu ul li ul li ul li ul a {padding-right: 5em;padding-left: 0;}
	.main-navigation-menu .submenu-dropdown-toggle {float: left;}}
@media only screen and (max-width: 50em) {.container {padding-right: 0;padding-right: 1.5em;padding-left: 0;padding-left: 1.5em;}
	.site-branding {float: right;margin-right: 3em;margin-left: 0;}
	.sidebar-navigation-toggle {right: 1.5em;left: auto;}
	.header-social-icons {right: auto;left: 1em;}
	.post-wrapper, .widget-magazine-posts .magazine-grid {margin-right: 0;margin-left: -1.5em;}
	.post-wrapper .post-column, .widget-magazine-posts .magazine-grid .post-column {padding-right: 0;padding-left: 1.5em;}}
@media only screen and (max-width: 35em) {.post-wrapper, .widget-magazine-posts .magazine-grid {margin-right: 0;margin-left: 0;}
	.post-wrapper .post-column, .widget-magazine-posts .magazine-grid .post-column {padding-right: 0;padding-left: 0;}}
@media only screen and (max-width: 30em) {.header-main {text-align: right;}}
@media only screen and (min-width: 55.001em) {.sidebar-left .sidebar {float: right;}
	.sidebar-left .content-single {float: left;padding-right: 2.5em;padding-left: 0;}
	.sidebar-right .sidebar {float: left;}
	.sidebar-right .content-single {float: right;padding-right: 0;padding-left: 2.5em;}}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {@media {.post-wrapper .post-column, .widget-magazine-posts .magazine-grid .post-column {margin-right: 0;margin-left: -1px;}}}
@media not all and (min-resolution:.001dpcm) {@media {.post-wrapper .post-column, .widget-magazine-posts .magazine-grid .post-column {margin-right: 0;margin-left: -1px;}}}
.related-posts-list li .wp-post-image {float: right;margin: 0 0 0 1em;}
.related-posts-columns {margin-right: 0;margin-left: -1em;}
.related-posts-columns .related-post-column {float: right;padding-right: 0;padding-left: 2em;}
.related-posts-two-columns .related-post-column:nth-child(2n + 1) {clear: right;}
.related-posts-three-columns .related-post-column:nth-child(3n + 1) {clear: right;}
.related-posts-four-columns .related-post-column:nth-child(4n + 1) {clear: right;}
@media only screen and (max-width: 50em) {.related-posts-four-columns .related-post-column:nth-child(2n + 1) {clear: right;}}
@media only screen and (max-width: 35em) {.related-posts-three-columns .related-post-column {padding-right: 0;padding-left: 0;}}
@media only screen and (max-width: 25em) {.related-posts-two-columns .related-post-column, .related-posts-four-columns .related-post-column {padding-right: 0;padding-left: 0;}}
.tzwb-posts-list .wp-post-image {float: right;margin: .3em 0 1em .8em;}
.tzwb-comments-list .avatar {float: right;margin: .3em 0 .8em .8em;}
.tzwb-tabbed-content .tzwb-tabnavi {float: right;}
.tzwb-tabbed-content .tzwb-tabnavi li {float: right;margin: 0 0 3px 3px;}
.tzwb-social-icons .social-icons-menu li {margin: 0 0 2px 2px;}
.post-slider .zeeslide .slide-content {right: auto;right: 15%;left: auto;left: 15%;}
.post-slider .zeeslide .entry-categories {right: 1em;left: auto;}
.post-slider .zeeslide .entry-categories .meta-category a {margin: 0 0 4px 4px;}
.post-slider .zeeslide {text-align: right;direction: rtl;}
.zeeflex-viewport {direction: ltr;}
.post-slider-controls {clear: right;}
.post-slider-controls .zeeflex-direction-nav {right: auto;left: 1em;}
.post-slider-controls .zeeflex-direction-nav a {text-align: right;}
.post-slider-controls .zeeflex-direction-nav a.zeeflex-next:before {margin: .1em .1em 0 0;}
.post-slider-controls .zeeflex-direction-nav a.zeeflex-prev:before {margin: .15em .15em 0 0;}
.post-slider-controls .zeeflex-direction-nav .zeeflex-prev {right: auto;left: 0;}
.post-slider-controls .zeeflex-direction-nav .zeeflex-next {right: auto;left: 44px;}
.post-slider-controls .zeeflex-control-nav li a {text-indent: -9999px;}
@media only screen and (max-width: 80em) {.post-slider .zeeslide .slide-content {right: auto;right: 10%;left: auto;left: 10%;}}
@media only screen and (max-width: 70em) {.post-slider .zeeslide .slide-content {right: auto;right: 5%;left: auto;left: 5%;}}
@media only screen and (max-width: 60em) {.post-slider .zeeslide .slide-content {right: auto;right: 1em;left: auto;left: 1em;}
	.post-slider .zeeslide .entry-categories .meta-category a {margin: 0 0 2px 2px;}
	.post-slider-controls .zeeflex-direction-nav .zeeflex-prev {right: auto;left: 32px;}}